.manage-users {
    margin: 20px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th,
  .user-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .user-table th {
    color: white;
    background-color: black;
  }
  
  .user-table tr:hover {
    background-color: #f5f5f5;
  }
  