.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ddd9e9;
  height: 65px;
  margin: 0 2%;
  box-shadow: 1px 5px 8px 3px rgba(124, 124, 124, 0.42);
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 115px;
  height: 50px;
}

.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: larger;
  font-family: sans-serif;
}

.user-profile {
  height: 79vh;
  position: relative;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 8px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  margin-bottom: 5px;
}

.dropdown-link {
  text-decoration: none;
  color: #333;
}
